.container {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 250px; 
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }