.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }
  
  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
  }