.container {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }